<div class="modal-header bg-modal">
	<h3 style="margin: 0;">{{titleModal}}</h3>
</div>
<div ng-controller="TurmaController">
<div class="modal-body">
	<form role="form" name="form" validate-form="" novalidate="">
		<div class="row">

			<div class="col-md-12">
    			<div class="col-md-1"></div>
      			<div class="col-md-10">
	      			<table class="table table-bordered">
						<tr>
							<th></th>
							<th>Domingo</th>
						    <th>Segunda-feira</th>
						    <th>Terça-feira</th>
						    <th>Quarta-feira</th>
						    <th>Quinta-feira</th>
						    <th>Sexta-feira</th>
						    <th>Sabado</th>
						</tr>
						<tr ng-repeat="c in calendario">
							<td style="padding: 3px;">{{c.horario}}</td>
						    <td ng-click="selecionaHorario(c.domingo)" class={{c.domingo}}></td>
						    <td ng-click="selecionaHorario(c.segunda)" class={{c.segunda}}></td>
						    <td ng-click="selecionaHorario(c.terca)" class={{c.terca}}></td>
						    <td ng-click="selecionaHorario(c.quarta)" class={{c.quarta}}></td>
						    <td ng-click="selecionaHorario(c.quinta)" class={{c.quinta}}></td>
						    <td ng-click="selecionaHorario(c.sexta)" class={{c.sexta}}></td>
						    <td ng-click="selecionaHorario(c.sabado)" class={{c.sabado}}></td>
						</tr>
					</table>
				</div>
  			</div>
	      
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="sim()">Salvar</button>
	<button class="btn btn-danger" ng-click="nao()">Cancelar</button>
</div>
</div>