<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>CDD</display-name>
  <servlet>
    <servlet-name>MainPage</servlet-name>
    <jsp-file>/jsp/main.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>CfgDisciplina</servlet-name>
    <jsp-file>/jsp/disciplina.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>CfgEtapa</servlet-name>
    <jsp-file>/jsp/etapas.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>CfgHoraTurma</servlet-name>
    <jsp-file>/jsp/horaTurma.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>CfgMinistraDisciplina</servlet-name>
    <jsp-file>/jsp/ministraDisciplina.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>CfgFilaProfessor</servlet-name>
    <jsp-file>/jsp/filaProfessor.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>CfgTurma</servlet-name>
    <jsp-file>/jsp/turma.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>CfgSemestre</servlet-name>
    <jsp-file>/jsp/semestre.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>CfgRestricao</servlet-name>
    <jsp-file>/jsp/restricao.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>CfgFilaPosicao</servlet-name>
    <jsp-file>/jsp/filaPosicao.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>CfgPrioridade</servlet-name>
    <jsp-file>/jsp/prioridade.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>CfgCurso</servlet-name>
    <jsp-file>/jsp/curso.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>CfgProfessor</servlet-name>
    <jsp-file>/jsp/professor.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>CfgFila</servlet-name>
    <jsp-file>/jsp/fila.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>CfgEditFila</servlet-name>
    <jsp-file>/jsp/editFila.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>Login</servlet-name>
    <jsp-file>/jsp/login.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>CfgRltProfessor</servlet-name>
    <jsp-file>/jsp/rltProfessor.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>CfgRltDisciplina</servlet-name>
    <jsp-file>/jsp/rltDisciplina.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>CfgRltCurso</servlet-name>
    <jsp-file>/jsp/rltCurso.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>CfgRltFilas</servlet-name>
    <jsp-file>/jsp/rltFilas.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>CfgRltFilas4</servlet-name>
    <jsp-file>/jsp/rltFilas4.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>CfgRltFilas3</servlet-name>
    <jsp-file>/jsp/rltFilas3.jsp</jsp-file>
  </servlet><servlet>
    <servlet-name>CfgRltTurmas</servlet-name>
    <jsp-file>/jsp/rltTurmas.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>CfgDisciplina</servlet-name>
    <url-pattern>/admin/disciplina/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CfgEtapa</servlet-name>
    <url-pattern>/admin/etapas/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CfgHoraTurma</servlet-name>
    <url-pattern>/admin/horaTurma/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CfgMinistraDisciplina</servlet-name>
    <url-pattern>/admin/ministraDisciplina/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CfgFilaProfessor</servlet-name>
    <url-pattern>/admin/filaProfessor/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CfgTurma</servlet-name>
    <url-pattern>/admin/turma/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CfgFilaPosicao</servlet-name>
    <url-pattern>/admin/filaPosicao/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CfgPrioridade</servlet-name>
    <url-pattern>/admin/prioridade/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CfgRestricao</servlet-name>
    <url-pattern>/admin/restricao/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CfgSemestre</servlet-name>
    <url-pattern>/admin/semestre/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CfgCurso</servlet-name>
    <url-pattern>/admin/curso/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CfgFila</servlet-name>
    <url-pattern>/admin/fila</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CfgEditFila</servlet-name>
    <url-pattern>/admin/fila2/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CfgProfessor</servlet-name>
    <url-pattern>/admin/professor/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CfgRltProfessor</servlet-name>
    <url-pattern>/main/rltProfessor/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CfgRltDisciplina</servlet-name>
    <url-pattern>/main/rltDisciplina/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CfgRltCurso</servlet-name>
    <url-pattern>/main/rltCurso/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CfgRltFilas</servlet-name>
    <url-pattern>/main/rltFilas/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CfgRltFilas4</servlet-name>
    <url-pattern>/main/rltFilas4/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CfgRltFilas3</servlet-name>
    <url-pattern>/main/rltFilas3/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CfgRltTurmas</servlet-name>
    <url-pattern>/main/rltTurmas/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MainPage</servlet-name>
    <url-pattern>/main/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/admin/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TestServlet</servlet-name>
    <jsp-file>/jsp/teste.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/test/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>resteasy-servlet</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>resteasy.scan</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>resteasy.resources</param-name>
    <param-value>
	        br.com.ufu.service.DisciplinaServiceImpl,
	        br.com.ufu.service.DistribuicaoServiceImpl, 
	        br.com.ufu.service.EtapaServiceImpl,
	        br.com.ufu.service.FilaDisciplinaServiceImpl,
	        br.com.ufu.service.FilaProfessorServiceImpl,
	        br.com.ufu.service.FilaServiceImpl,
	        br.com.ufu.service.FilaTurmaServiceImpl,
	        br.com.ufu.service.OfertaServiceImpl,
	        br.com.ufu.service.PrioridadeServiceImpl,
	        br.com.ufu.service.ProfessorServiceImpl,
	        br.com.ufu.service.RestricaoServiceImpl,
	        br.com.ufu.service.RltProfessorServiceImpl,
	        br.com.ufu.service.SemestreServiceImpl,
	        br.com.ufu.repository.CursoRepositoryImpl,
	        br.com.ufu.repository.DisciplinaRepositoryImpl,
	        br.com.ufu.repository.EtapaRepositoryImpl,
	        br.com.ufu.repository.FilaDisciplinaRepositoryImpl,
	        br.com.ufu.repository.FilaProfessorRepositoryImpl,
	        br.com.ufu.repository.FilaRepositoryImpl,
	        br.com.ufu.repository.FilaTurmaRepositoryImpl,
	        br.com.ufu.repository.ListaRepositoryImpl,
	        br.com.ufu.repository.MinistraDisciplinaRepositoryImpl,
	        br.com.ufu.repository.MinistraRepositoryImpl,
	        br.com.ufu.repository.OfertaRepositoryImpl,
	        br.com.ufu.repository.PrioridadeRepositoryImpl,
	        br.com.ufu.repository.ProfessorRepositoryImpl,
	        br.com.ufu.repository.RelatorioRepositoryImpl,
	        br.com.ufu.repository.RestricaoRepositoryImpl,
	        br.com.ufu.repository.RltProfessorRepositoryImpl,
	        br.com.ufu.repository.SemestreRepositoryImpl,
	        br.com.ufu.repository.TurmaRepositoryImpl,
	        br.com.ufu.controller.CursoControllerImpl,
	        br.com.ufu.controller.DisciplinaControllerImpl,
	        br.com.ufu.controller.EtapaControllerImpl,
	        br.com.ufu.controller.FilaControllerImpl,
	        br.com.ufu.controller.FilaTurmaControllerImpl,
	        br.com.ufu.controller.FilaDisciplinaControllerImpl,
	        br.com.ufu.controller.FilaProfessorControllerImpl,
	        br.com.ufu.controller.LoginControllerImpl,
	        br.com.ufu.controller.MinistraControllerImpl,
	        br.com.ufu.controller.MinistraDisciplinaControllerImpl,
	        br.com.ufu.controller.OfertaControllerImpl,
	        br.com.ufu.controller.PrioridadeControllerImpl,
	        br.com.ufu.controller.ProfessorControllerImpl,
	        br.com.ufu.controller.RelatorioControllerImpl,
	        br.com.ufu.controller.RestricaoControllerImpl,
	        br.com.ufu.controller.RltProfessorControllerImpl,
	        br.com.ufu.controller.SemestreControllerImpl,
	        br.com.ufu.controller.TurmaControllerImpl
	    </param-value>
  </context-param>
  <context-param>
    <param-name>resteasy.servlet.mapping.prefix</param-name>
    <param-value>/rest</param-value>
  </context-param>
  <listener>
    <listener-class>
			org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap
			</listener-class>
  </listener>
  <servlet>
    <servlet-name>resteasy-servlet</servlet-name>
    <servlet-class>
			org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher
		</servlet-class>
  </servlet>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/spring-security.xml</param-value>
  </context-param>
  <filter>
    <filter-name>springSecurityFilterChain</filter-name>
    <filter-class> org.springframework.web.filter.DelegatingFilterProxy </filter-class>
  </filter>
  <filter-mapping>
    <filter-name>springSecurityFilterChain</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>